@import "botanist/material-darker.css";

:root {
    --bg-color: #2c2f33;
    --side-bar-bg-color: #2c2f33;
    --text-color: #ddd;

    --active-file-bg-color: rgb(34, 34, 34, 0);
    --active-file-text-color: white;
}
#typora-sidebar {
    border-right: 2px solid #23272a;
    text-transform: capitalize;
}

#typora-sidebar .file-node-icon {
    visibility: hidden;
}

#typora-sidebar .sidebar-content-content {
    font-size: 16px;
}

/** General Doc Nav **/
.doc-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.doc-nav a {
    color: #ccc;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doc-nav a:hover {
    color: #fff;
}
.doc-nav li > a i:last-child {
    margin-left: 1.5rem;
    transition: transform .3s;
}
/* doc nav selected */
.doc-nav li.open > a i:last-child {
    transform: rotate(-90deg);
}
.doc-nav .main-doc > li.active > a {
    background-color: #3e444a;
    color: #9caae4;
}
.doc-nav .sub-doc > li.active > a {
    color: #fff
}
/* doc nav tree */
.doc-nav .main-doc > li > a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: .3rem 1.2rem;
    border-radius: 2rem;
    margin-bottom: .5rem;
}
.doc-nav .main-doc > li > a:hover {
    color: #9caae4;
}
.doc-nav .main-doc > li > a i:last-child,
.doc-nav .sub-doc > li > a i:last-child {
    color: #9caae4;
    border-radius: 2rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.doc-nav .main-doc > li > a i:last-child {
    width: 34.6px;
    height: 34.6px;
    margin: -.3rem -1.2rem -.3rem 1.5rem;
}
.doc-nav .sub-doc > li > a i:last-child {
    width: 23px;
    height: 23px;
}
.doc-nav .main-doc > li > a i:last-child:hover,
.doc-nav .sub-doc > li > a i:last-child:hover {
    background-color: #3b3f45;
}
.doc-nav .sub-doc {
    display: none;
    padding: 0 1.2rem .5rem 2rem;
}
.doc-nav .sub-doc > li {
    margin-bottom: .2rem;
}
.doc-nav .open > .sub-doc,
.doc-nav .open > .sub-sub-doc {
    display: block;
}
.doc-nav .sub-sub-doc {
    display: none;
    padding: .2rem .2rem .2rem 1.5rem;
}
.doc-nav .sub-sub-doc a {
    font-size: .9rem;
}
.doc-nav .sub-sub-doc .selected a {
    color: #fff;
}




/*** FONTS ***/
@font-face {
    font-family: 'Hind';
    font-weight: 700;
    src: url('botanist/hind/Hind-Bold.ttf');
    font-display: swap;
}
/** Open Sans **/
@font-face {
    font-family: 'Open sans';
    font-weight: 300;
    src: url('botanist/open_sans/OpenSans-Light.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Open sans';
    font-weight: 400;
    src: url('botanist/open_sans/OpenSans-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Open sans';
    font-weight: 600;
    src: url('botanist/open_sans/OpenSans-SemiBold.ttf');
    font-display: swap;
}
/** Anonymous Pro **/
@font-face {
    font-family: 'Anonimous Pro';
    font-weight: 400;
    src: url('botanist/anonymous_pro/AnonymousPro-Regular.ttf');
    font-display: swap;
}


/*** GENERAL ***/
html {
    overflow-x: hidden;
    font-size: 16px;
}
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #2c2f33;
    color: #ddd;
    font-family: 'Open Sans', 'sans-serif';
    fill: currentColor;
}

#write {
    max-width: 914px;
}

html,
body,
button,
input,
select,
textarea,
div.code-tooltip-content {
    border-color: transparent;
}

img { border: none; }
a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    transition: color .3s;
}
a:hover {
    text-decoration: underline;
}

p {
    color: #ccc;
    margin: 0 0 .5rem 0;
}

b {
    font-weight: 600;
}

code {
    background-color: #23272a;
    padding: .25rem .45rem;
    font-family: 'Anonimous Pro';
    border-radius: .2rem;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Hind';
    font-weight: 700;
    margin: 0 0 1rem 0;
    position: relative;
    line-height: 1.2;
}
h1:before, h2:before, h3:before,
h4:before, h5:before, h6:before {
    content: "#";
    position: absolute;
    left: -15px;
    color: #595D63;
    font-size: 85%;
    transform: translateX(-50%);
    line-height: 1.45;
}
h2 {
    font-size: 1.9rem;
    margin: 2rem 0 0 0;
}
h3 {
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
}





/** Doc content **/
.doc-container h1:not(:nth-child(2)) {
    margin-top: 1.8rem;
}
.doc-container h1 {
    font-size: 2.8rem;
    margin-bottom: 0;
}

.doc-container .code-toolbar {
    margin: .8rem 0;
}
pre {
    margin: 0;
}

table {
    color: #eee;
    max-width: calc(100% - 1px);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1rem 0;
}
table thead th {
    background: #23272a;
    padding: .8rem 1.6rem;
}
table thead th:first-child {
    border-top-left-radius: .5rem;
}
table thead th:last-child {
    border-top-right-radius: .5rem;
}
table tbody tr:nth-child(2n+1) td {
    background: #373a3f;
}
table tbody tr:nth-child(2n) td {
    background: #2f3337;
}
table tbody tr td {
    padding: .8rem;
    border-right: 1px solid #23272a;
    border-bottom: 1px solid #23272a;
}
table tbody tr:last-child td {
    border-bottom: none;
}
table tbody tr:last-child td:first-child {
    border-bottom-left-radius: .5rem;
}
table tbody tr:last-child td:last-child {
    border-bottom-right-radius: .5rem;
    border-left: none;
}

